{% set ccounter = 0 %}
{% set ns = namespace(ccounter=0) %}

{% macro entity_state_condition_goal(goal, entity_names) %}
g = EntityStateCondition(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        condition={{ goal.condition.cond_lambda }},
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro entity_pycondition_goal(goal, entity_names) %}
g = EntityStateCondition(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        condition='{{ goal.cond_py | replace("'", '"') }}',
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro entity_state_change_goal(goal) %}
g = EntityStateChange(
        name='{{ goal.name }}',
        entity={{ goal.entity.name }},
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro rectangle_area_goal(goal, entity_names) %}
{% set _entities = [] %}
{% for e in goal.entities %}
{% set _ = _entities.append(e.name) %}
{% endfor %}
g = RectangleAreaGoal(
        name='{{ goal.name }}',
        {% if goal.entities %}
        entities=[{{ ", ".join(_entities) }}],
        {% else %}
        entities=[{{ ", ".join(entity_names) }}],
        {% endif %}
        bottom_left_edge=Point({{ goal.bottomLeftEdge.x }}, {{ goal.bottomLeftEdge.y }}, {{ goal.bottomLeftEdge.z }}),
        length_x={{ goal.lengthX}},
        length_y={{ goal.lengthY}},
        tag=AreaGoalTag.{{ goal.tag }},
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro circular_area_goal(goal, entity_names) %}
{% set _entities = [] %}
{% for e in goal.entities %}
{% set _ = _entities.append(e.name) %}
{% endfor %}
g = CircularAreaGoal(
        name='{{ goal.name }}',
        {% if goal.entities %}
        entities=[{{ ", ".join(_entities) }}],
        {% else %}
        entities=[{{ ", ".join(entity_names) }}],
        {% endif %}
        center=Point({{ goal.center.x }}, {{ goal.center.y }}, {{ goal.center.z }}),
        radius={{ goal.radius }},
        tag=AreaGoalTag.{{ goal.tag }},
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro moving_area_goal(goal, entity_names) %}
{% set _entities = [] %}
{% for e in goal.entities %}
{% set _ = _entities.append(e.name) %}
{% endfor %}
g = MovingAreaGoal(
        name='{{ goal.name }}',
        motion_entity={{ goal.entity.name }},
        {% if goal.entities %}
        entities=[{{ ", ".join(_entities) }}],
        {% else %}
        entities=[{{ ", ".join(entity_names) }}],
        {% endif %}
        radius={{ goal.radius }},
        tag=AreaGoalTag.{{ goal.tag }},
        for_duration={{ goal.for_duration }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro position_goal(goal) %}
g = PositionGoal(
        name='{{ goal.name }}',
        entity={{ goal.entity.name }},
        position=Point(x={{ goal.position.x or 0 }}, y={{ goal.position.y or 0 }}, z={{ goal.position.z or 0 }}),
        deviation={{ goal.maxDeviation }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro orientation_goal(goal) %}
g = OrientationGoal(
        name='{{ goal.name }}',
        entity={{ goal.entity.name }},
        orientation=Orientation(z={{ goal.orientation.z or 0 }}),
        deviation={{ goal.maxDeviation }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro waipoint_trajectory_goal(goal) %}
g = WaypointTrajectoryGoal(
        name='{{ goal.name }}',
        entity={{ goal.entity.name }},
        waypoints=[
            {% for point in goal.points %}
            Point({{ point.x }}, {{ point.y }}, {{ point.z }}),
            {% endfor %}
        ],
        deviation={{ goal.maxDeviation }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro goal_repeater(goal, entity_names) %}
{% set gvar = "g" %}
{% if goal.goal.__class__.__name__ == 'EntityStateConditionGoal' %}
{{ entity_state_condition_goal(goal.goal, entity_names) }}
{% elif goal.goal.__class__.__name__ == 'EntityStateChangeGoal' %}
{{ entity_state_change_goal(goal.goal) }}
{% elif goal.goal.__class__.__name__ == 'EntityPyConditionGoal' %}
{{ entity_pycondition_goal(goal.goal, entity_names) }}
{% elif goal.goal.__class__.__name__ == 'RectangleAreaGoal' %}
{{ rectangle_area_goal(goal.goal, entity_names) }}
{% elif goal.goal.__class__.__name__ == 'CircularAreaGoal' %}
{{ circular_area_goal(goal.goal, entity_names) }}
{% elif goal.goal.__class__.__name__ == 'MovingAreaGoal' %}
{{ moving_area_goal(goal.goal, entity_names) }}
{% elif goal.goal.__class__.__name__ == 'PositionGoal' %}
{{ position_goal(goal.goal) }}
{% elif goal.goal.__class__.__name__ == 'OrientationGoal' %}
{{ orientation_goal(goal.goal) }}
{% elif goal.goal.__class__.__name__ == 'WaypointTrajectoryGoal' %}
{{ waipoint_trajectory_goal(goal.goal) }}
{% elif goal.goal.__class__.__name__ == 'ComplexGoal' %}
{% set gvar = "cg_" + (ns.ccounter + 1)|string %}
{{ complex_goal(goal.goal, entity_names) }}
{% endif %}
    gr = GoalRepeater(
        goal={{ gvar }},
        times={{ goal.times }},
        name='{{ goal.name }}',
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro rate_goal(goal) %}
g = RateGoal(
        entity={{ goal.entity.name }},
        name='{{ goal.name }}',
        interval={{ goal.interval.to_seconds() }},
        {% if goal.tolerance %}
        tolerance={{ goal.tolerance.to_seconds() }},
        {% endif %}
        {% if goal.jitter %}
        jitter={{ goal.jitter.to_seconds() }},
        {% endif %}
        {% if goal.window %}
        window={{ goal.window }},
        {% endif %}
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro latency_goal(goal, entity_names) %}
g = LatencyGoal(
        name='{{ goal.name }}',
        {% if goal.triggerCondition %}
        trigger_entities=[{{ ", ".join(entity_names) }}],
        trigger_condition={{ goal.triggerCondition.cond_lambda }},
        {% elif goal.triggerEntity %}
        trigger_entities=[{{ goal.triggerEntity.name }}],
        {% endif %}
        {% if goal.responseCondition %}
        response_entities=[{{ ", ".join(entity_names) }}],
        response_condition={{ goal.responseCondition.cond_lambda }},
        {% elif goal.responseEntity %}
        response_entities=[{{ goal.responseEntity.name }}],
        {% endif %}
        max_latency={{ goal.within.to_seconds() }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro ordering_goal(goal) %}
g = OrderingGoal(
        name='{{ goal.name }}',
        goals=[
            {% for ref in goal.sequence %}
            '{{ ref }}',
            {% endfor %}
        ],
        within={{ goal.within.to_seconds() }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro deadline_goal(goal, entity_names) %}
g = DeadlineGoal(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        condition={{ goal.condition.cond_lambda }},
        deadline_time='{{ goal.by.hour }}:{{ goal.by.minute }}:{{ goal.by.second }}',
        {% if goal.after %}
        after_time='{{ goal.after.hour }}:{{ goal.after.minute }}:{{ goal.after.second }}',
        {% endif %}
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
{% endmacro %}

{% macro complex_goal(goal, entity_names) %}
{% set ns.ccounter = ns.ccounter + 1 %}
cg_{{ ns.ccounter }} = ComplexGoal(
        name='{{ goal.name }}',
        algorithm=ComplexGoalAlgorithm.{{ goal.algorithm }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
    {% for goal in goal.goals %}
    {% if goal.__class__.__name__ == 'EntityStateConditionGoal' %}
    {{ entity_state_condition_goal(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'EntityStateChangeGoal' %}
    {{ entity_state_change_goal(goal) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'EntityPyConditionGoal' %}
    {{ entity_pycondition_goal(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'RectangleAreaGoal' %}
    {{ rectangle_area_goal(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'CircularAreaGoal' %}
    {{ circular_area_goal(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'MovingAreaGoal' %}
    {{ moving_area_goal(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'PositionGoal' %}
    {{ position_goal(goal) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'OrientationGoal' %}
    {{ orientation_goal(goal) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'WaypointTrajectoryGoal' %}
    {{ waipoint_trajectory_goal(goal) }}
    cg_{{ns.ccounter}}.add_goal(g)
    {% elif goal.__class__.__name__ == 'GoalRepeater' %}
    {{ goal_repeater(goal, entity_names) }}
    cg_{{ns.ccounter}}.add_goal(gr)
    {% elif goal.__class__.__name__ == 'ComplexGoal' %}
    {{ complex_goal(goal, entity_names) }}
    {% set ns.ccounter = ns.ccounter - 1 %}
    cg_{{ns.ccounter}}.add_goal(cg_{{ns.ccounter + 1}})
    {% endif %}
    {% endfor %}
{% endmacro %}
