{% macro amqp_broker(broker) %}
AMQPBroker(
        host='{{ broker.host }}',
        port={{ broker.port }},
        {% if broker.auth %}
        username='{{ broker.auth.username }}',
        password='{{ broker.auth.password }}',
        {% endif %}
        vhost='{{ broker.vhost }}',
    )
{% endmacro %}

{% macro redis_broker(broker) %}
RedisBroker(
        host='{{ broker.host }}',
        port={{ broker.port }},
        db={{ broker.db or 0 }},
        {% if broker.auth %}
        username='{{ broker.auth.username }}',
        password='{{ broker.auth.password }}',
        {% endif %}
    )
{% endmacro %}

{% macro mqtt_broker(broker) %}
MQTTBroker(
        host='{{ broker.host }}',
        port={{ broker.port }},
        {% if broker.auth %}
        username='{{ broker.auth.username }}',
        password='{{ broker.auth.password }}',
        {% endif %}
    )
{% endmacro %}
