{% import 'goal_macros.jinja' as macros %}
#!/usr/bin/env python3

import os
from statistics import stdev as std, mean as mean, variance as var

from goalee import Scenario, RedisBroker, MQTTBroker, AMQPBroker
from goalee.entity import Entity
from goalee.types import Point, Orientation
from goalee.area_goals import (
    RectangleAreaGoal,
    CircularAreaGoal,
    MovingAreaGoal,
    AreaGoalTag
)
from goalee.complex_goal import (
    ComplexGoal,
    ComplexGoalAlgorithm
)
from goalee.entity_goals import (
    EntityStateChange,
    EntityStateCondition
)
from goalee.pose_goals import (
    PoseGoal,
    PositionGoal,
    OrientationGoal
)

entities_list = []

{% for entity in entities %}
{{ entity.name }} = Entity(
    name='{{ entity.name }}',
    etype='{{ entity.etype }}',
    topic='{{ entity.topic }}',
    attributes={{ entity.attr_list }},
    {% if entity.source.ref.__class__.__name__ == 'AMQPBroker' %}
    source=AMQPBroker(
        host='{{ entity.source.ref.host }}',
        port={{ entity.source.ref.port }},
        username='{{ entity.source.ref.username }}',
        password='{{ entity.source.ref.password }}',
        vhost='{{ entity.source.ref.vhost }}',
    )
    {% elif entity.source.ref.__class__.__name__ == 'RedisBroker' %}
    source=RedisBroker(
        host='{{ entity.source.ref.host }}',
        port={{ entity.source.ref.port }},
        db={{ entity.source.ref.db }},  # default DB number is 0
        username='{{ entity.source.ref.username }}',
        password='{{ entity.source.ref.password }}',
    )
    {% elif entity.source.ref.__class__.__name__ == 'MQTTBroker' %}
    source=MQTTBroker(
        host='{{ entity.source.ref.host }}',
        port={{ entity.source.ref.port }},
        username='{{ entity.source.ref.username }}',
        password='{{ entity.source.ref.password }}',
    )
    {% endif %}
)
{% for attr in entity.attributes %}
{% if attr.buffer not in (None, 0) %}
{{ entity.name }}.init_attr_buffer("{{ attr.name }}", {{ attr.buffer }})
{% endif %}
{% endfor %}
entities_list.append({{ entity.name }})
{% endfor %}


if __name__ == '__main__':
    {% if rtmonitor and rtmonitor.broker.__class__.__name__ == 'AMQPBroker' %}
    broker = AMQPBroker(
        host='{{ rtmonitor.broker.host }}',
        port={{ rtmonitor.broker.port }},
        username='{{ rtmonitor.broker.username }}',
        password='{{ rtmonitor.broker.password }}',
        vhost='{{ rtmonitor.broker.vhost }}',
    )
    {% elif rtmonitor and rtmonitor.broker.__class__.__name__ == 'RedisBroker' %}
    broker = RedisBroker(
        host='{{ rtmonitor.broker.host }}',
        port={{ rtmonitor.broker.port }},
        db={{ rtmonitor.broker.db }},  # default DB number is 0
        username='{{ rtmonitor.broker.username }}',
        password='{{ rtmonitor.broker.password }}',
    )
    {% elif rtmonitor and rtmonitor.broker.__class__.__name__ == 'MQTTBroker' %}
    broker = MQTTBroker(
        host='{{ rtmonitor.broker.host }}',
        port={{ rtmonitor.broker.port }},
        username='{{ rtmonitor.broker.username }}',
        password='{{ rtmonitor.broker.password }}',
    )
    {% else %}
    broker = None
    {% endif %}

    scenario = Scenario(
        name='{{ scenario.name }}',
        broker=broker,
        score_weights={{ scenario.scoreWeights }}
    )

    {% for goal in goals %}
    {% if goal.__class__.__name__ == 'EntityStateConditionGoal' %}
    {{ macros.entity_state_condition_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'EntityStateChangeGoal' %}
    {{ macros.entity_state_change_goal(goal) }}
    {% elif goal.__class__.__name__ == 'RectangleAreaGoal' %}
    {{ macros.rectangle_area_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'CircularAreaGoal' %}
    {{ macros.circular_area_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'MovingAreaGoal' %}
    {{ macros.moving_area_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'PositionGoal' %}
    {{ macros.position_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'OrientationGoal' %}
    {{ macros.orientation_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'WaypointTrajectoryGoal' %}
    {{ macros.waipoint_trajectory_goal(goal, entity_names) }}
    {% elif goal.__class__.__name__ == 'ComplexGoal' %}
    cg = ComplexGoal(
        algorithm=ComplexGoalAlgorithm.{{ goal.algorithm }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
        {% for goal in goal.goals %}
        {% if goal.__class__.__name__ == 'EntityStateConditionGoal' %}
    g = EntityStateCondition(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        # condition='{{ goal.condition.cond_py.replace("'", "\"") }}',
        condition={{ goal.condition.cond_lambda}},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )

        {% elif goal.__class__.__name__ == 'EntityStateChangeGoal' %}
    g = EntityStateChange(
        entity={{ goal.entity.name }},
        name='{{ goal.name }}',
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
        {% elif goal.__class__.__name__ == 'WaypointTrajectoryGoal' %}
    g = WaypointTrajectoryGoal(
        topic='{{ goal.entity.topic }}',
        points=[
            {% for point in goal.points %}
            Point(point.x, point.y, point.z),
            {% endfor %}
        ],
        deviation={{ goal.maxDeviation }},
        duration=({{ goal.min_duration }}, {{ goal.max_duration }}),
    )
        {% elif goal.__class__.__name__ == 'RectangleAreaGoal' %}
    g = RectangleAreaGoal(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        bottom_left_edge=Point({{ goal.bottomLeftEdge.x }}, {{ goal.bottomLeftEdge.y }}, {{ goal.bottomLeftEdge.z }}),
        length_x={{ goal.lengthX}},
        length_y={{ goal.lengthY}},
        tag=AreaGoalTag.{{ goal.tag }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
        {% elif goal.__class__.__name__ == 'CircularAreaGoal' %}
    g = CircularAreaGoal(
        name='{{ goal.name }}',
        entities=[{{ ", ".join(entity_names) }}],
        center=Point({{ goal.center.x }}, {{ goal.center.y }}, {{ goal.center.z }}),
        radius={{ goal.radius }},
        tag=AreaGoalTag.{{ goal.tag }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
        {% elif goal.__class__.__name__ == 'MovingAreaGoal' %}
    g = MovingAreaGoal(
        name='{{ goal.name }}',
        motion_entity={{ goal.entity.name }},
        entities=[{{ ", ".join(entity_names) }}],
        radius={{ goal.radius }},
        tag=AreaGoalTag.{{ goal.tag }},
        max_duration={{ goal.max_duration }},
        min_duration={{ goal.min_duration }},
    )
        {% endif %}
    cg.add_goal(cg)
        {% endfor %}
    ## More Goals to Generate here
    {% endif %}
    scenario.add_goal(g)
    {% endfor %}

    {% if rtmonitor %}
    try:
        etopic = '{{ rtmonitor.eTopic }}'.format(**{k: os.environ.get(k, "") for k in os.environ}).replace('..', '.')
        ltopic = '{{ rtmonitor.lTopic }}'.format(**{k: os.environ.get(k, "") for k in os.environ}).replace('..', '.')
    except KeyError as e:
        print(f"Error occurred while retrieving environment variables: {e}")
        exit(1)
    scenario.init_rtmonitor(etopic, ltopic)
    {% endif %}

    {% if scenario.concurrent == True %}
    scenario.run_concurrent()
    {% else %}
    scenario.run_seq()
    {% endif %}

